*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    text-decoration: none; 
} 
body {
    background: var(--primaty-grey-light, #F6F5F4);
} 
:focus,:active{outline: none;} 
a:focus,a:active{outline: none;} 

nav,footer,header,aside{display: block;} 

:root{ 
--boss: rgb(160, 160, 160); 
--colors: rgb(210, 198, 198); 
}  

input,button,textarea{font-family:inherit;} 

input::-ms-clear{display: none;} 
button{cursor: pointer;} 
button::-moz-focus-inner {padding:0;border:0;} 
a, a:visited{text-decoration: none;} 
a:hover{text-decoration: none;} 
ul li{list-style: none;} 
img{vertical-align: top;} 

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 

html{ 
scroll-behavior: smooth; 
}
.head {
    width: 1180px;
    height: 43px;
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.head__right {
    width: 475.0697px;
    display: flex;
    justify-content: space-between;
}
.title {
    color: #000;
    font-family: Dela Gothic One;
    font-size: 16.391px;
    font-weight: 400;
}
.text {
    color: #585858;
    font-family: Montserrat;
    font-size: 16.553px;
    font-weight: 600;
}
.head__left {
}
.log {
    color: #000;
    font-family: Montserrat;
    font-size: 16.553px;
    font-weight: 700;

}
.up {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16.553px;
    font-weight: 700;
    background: #2B788B;
    padding: 13.006px 21.282px;
    border-radius: 14.2px;
    margin-left: 24.83px;
}
.main {
    width: 1180px;
    margin: 0 auto;
    margin-top: 60px;
}
.block {
    display: flex;
    flex-direction: column;
    width: 1180px;
    height: 1000px;
    justify-content: space-between;
    /* border: 1px solid #000; */
}
.box {
    width: 800px;
    border-radius: 14px;
    /* border: 1px solid #000; */
    /* margin-top: 40px; */
    display: flex;
    align-items: center;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 0px 22.89813px 45.79626px -11.44906px rgba(52, 41, 39, 0.08);
    padding: 40px;
}
.main__img {
    width: 200px;
}
.main__text {
    margin-left: 30px;
}
.texts {
    width: 564px;
    display: flex;
    align-items: center;
}
.main__title {
    color: var(--primaty-black, #000);
    font-family: Dela Gothic One;
    font-size: 32px;
    font-weight: 400;
}
.text {
    width: 490px;
    color: var(--primaty-grey-dark, #757575);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    margin-top: 14px;
}
.btn {
    padding: 4px 8px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    background: var(--primaty-cyan-dark, #2B788B);
    margin-left: 14px;
}